<ion-view view-title="{{'my_diary' | translate}}" class="diary">
	<ion-nav-buttons side="right">
	</ion-nav-buttons>

	<ion-tabs class="tabs-energized">
		<!-- Points -->
		<ion-tab title="{{'points' | translate}}" ng-controller="DiaryPointsCtrl">
			<ion-pane>
				<ion-content class="diary-points" has-bouncing="false" scroll="false">
					<div class="me">
						<span>{{'points_total' | translate}}:</span>
						<span class="points">{{me.points}}</span>
					</div>

					<ion-scroll ng-style="pointsStyle" delegate-handle="pointsScroll">
						<ion-list>
							<div class="card card-storypoi" ng-repeat="checkin in me.data.checkinList">
								<div class="row">
									<div class="col col-25 col-center image">
										<div class="icon" ng-style="getPoiStyle(checkin.poi)"></div>
									</div>
									<div class="col col-75 col-center data">
										<div class="description">
											<h4 class="title">{{checkin.poi.name}}</h4>
											<h5 class="points">{{'points_earned' | translate}}: {{checkin.poi.points}}</h5>
										</div>
									</div>
								</div>
							</div>
						</ion-list>
					</ion-scroll>
				</ion-content>
			</ion-pane>
		</ion-tab>

		<!-- Ranking -->
		<ion-tab title="{{'ranking' | translate}}" ng-controller="DiaryRankingCtrl">
			<ion-pane>
				<ion-content class="diary-ranking" has-bouncing="false" scroll="false">
					<div class="listheader" ng-class="{hasprize: !!prize}">
						<div class="prize" ng-if="!!prize">
							<div>Prize</div>
							<div>Lorem ipsum sic dolor amet</div>
						</div>
						<div class="row">
							<div class="col col-25">{{'diary_ranking_listheader_position' | translate}}</div>
							<div class="col col-50">{{'diary_ranking_listheader_player' | translate}}</div>
							<div class="col col-25">{{'diary_ranking_listheader_points' | translate}}</div>
						</div>
					</div>
					<div class="me">
						<div class="row">
							<div class="col col-25">{{me.position}}</div>
							<div class="col col-50">{{myDisplayName}}</div>
							<div class="col col-25">{{me.points}}</div>
						</div>
					</div>

					<ion-scroll class="ranking" ng-style="rankingStyle" delegate-handle="rankingScroll">
						<ion-list>
							<div ng-repeat="rankingUser in ranking" ng-class="{'pos-even': ($index % 2 == 0)}">
								<div class="row">
									<div class="col col-25">{{rankingUser.position}}</div>
									<div class="col col-50">{{rankingUser.data.displayName}}</div>
									<div class="col col-25">{{rankingUser.points}}</div>
								</div>
							</div>
						</ion-list>
						<!--<ion-infinite-scroll ng-if="maybeMore" on-infinite=""></ion-infinite-scroll>-->
					</ion-scroll>
				</ion-content>
			</ion-pane>
		</ion-tab>
	</ion-tabs>
</ion-view>
