<ion-view view-title="{{entry.title}}">
	<ion-content class="entry">
		<div class="cover" ng-style="entryCoverStyle"></div>
		<div class="row info">
			<div class="col col-67 entry-where">
				<div class="entry-where-sunny">
					<i class="icon ion-ios-sunny"></i>
				</div>
				<div class="entry-where-rainy">
					<i class="icon ion-ios-rainy"></i>
				</div>
			</div>
			<div class="col col-33 entry-points">
				25 punti
			</div>
		</div>
		<h1>{{entry.title}}</h1>
	</ion-content>
</ion-view>
