<ion-view view-title="{{'app' | translate}}" class="home">
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-eye" ng-click="categoriesModal.show()"></button>
	</ion-nav-buttons>

	<ion-tabs class="tabs-energized">
		<!-- Map -->
		<ion-tab title="{{'map' | translate}}">
			<!--ng-controller="HomeMapCtrl"-->
			<ion-pane>
				<ion-content class="homemap" data-tap-disabled="true" scroll="false">
                    <div id="modal-map-container" data-tap-disabled="true">
<!--                        <leaflet event-broadcast="events" center="center" markers="markers" paths="pathLine" style="width: 100%; height: 700px;" ng-init="initMap()"  id="ttMap"></leaflet>-->
					<leaflet event-broadcast="events" center="center" markers="markers" ng-init="initMap()" id="homemap"></leaflet>
                    </div>
				</ion-content>
			</ion-pane>
		</ion-tab>

		<!-- Entries list -->
		<ion-tab title="{{'list' | translate}}">
			<!--ng-controller="HomeListCtrl"-->
			<ion-pane>
				<ion-content class="home-list">
					<ion-list>
						<div class="empty-list padding text-center" ng-if="!pois">
							<h4>{{'no_column' | translate}}</h4>
						</div>
						<div class="empty-list padding text-center" ng-if="filteredCount == 0">
							<h4>{{'no_poi' | translate}}</h4>
						</div>
						<div class="card card-poi" ng-repeat="(id, poi) in pois" ng-if="!!pois && categories[poi.category].checked" ng-click="openPoi(poi)">
							<div class="row">
								<div class="col col-25 image" ng-style="getPoiStyle(poi)"></div>
								<div class="col col-75 data">
									<div class="description">
										<h4 class="title">{{poi.name}}</h4>
										<h6 class="distance" ng-if="distance != 0">{{'distance' | translate:'{distance:' + getDistance(poi) + '}'}}</h6>
										<h6 class="distance" ng-if="distance == 0" >{{'youarehere' | translate}}</h6>
									</div>
									<div class="actions">
										<div class="points">{{(poi.points == 1 ? 'points_n1' : 'points_n') | translate:'{points:' + poi.points + '}'}}</div>
										<div class="checkin">
											<i class="icon ion-ios-location"></i>
											<span class="status">{{'checkin' | translate}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ion-list>
				</ion-content>
			</ion-pane>
		</ion-tab>
	</ion-tabs>
</ion-view>
