<ion-modal-view class="modal-categories">
	<ion-header-bar class="bar bar-header bar-light">
		<h1 class="title"></h1>
		<button class="button button-icon button-clear ion-android-close" ng-click="categoriesModal.hide()"></button>
	</ion-header-bar>

	<ion-content class="padding">
		<h4 class="title">{{'modal_choose' | translate}}:</h4>
		<ion-list>
			<ion-checkbox class="checkbox-assertive item-checkbox-right item-icon-left" ng-repeat="(id, category) in categories" ng-model="category.checked">
				<!--<i class="icon ion-stop"></i>-->
				<span>{{category.name}}</span>
			</ion-checkbox>
		</ion-list>
	</ion-content>
</ion-modal-view>
