<ion-view view-title="{{poi.name}}" class="poi">
	<ion-content>
		<div class="cover" ng-class="{'no-img': !poiCoverStyle}" ng-style="poiCoverStyle"></div>
		<div class="row info">
			<div class="col col-67 poi-where">
				{{poi.address}}
			</div>
			<div class="col col-33 poi-points">
				{{'points_n' | translate:poiValues}}
			</div>
		</div>
		<div class="row">
			<div class="col col-100">
				<h4>{{poi.name}}</h4>
				<div ng-repeat="when in poiValues.when">
					{{when}}
				</div>
				<div class="padding-top">{{poi.description}}</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar>
		<button class="button button-block button-assertive" ng-disabled="!checkinAvailable()" ng-click="checkin()">{{'checkin' | translate}}</button>
	</ion-footer-bar>
</ion-view>
