<ion-view view-title="{{'rules' | translate}}">
	<ion-content class="padding">
      <h4>Benvenuto nel Gioco Trento PlayEvway!</h4>
      <div align="justify">
        Partecipare è semplice: partecipa agli eventi di Tocatì, il Festival Internazionale dei Giochi di Strada
        che si tiene a Verona nei giorni 15-18 settembre 2016).
        Ogni evento a cui partecipi ti permetterà di guadagnare punti, collezionare badge e avanzare nel gioco.
      </div>
      <br/>
      <h4>Come si gioca?</h4>
      <div align="justify">
        Trova tramite la app gli eventi di Tocatì che ti interessano (li trovi sulla <b>Mappa</b> e sulla <b>Lista</b> nella <b>Home</b> della app).
        Recati agli eventi e, quando li hai raggiunti fai "check-in" tramite la app (devi scegliere un evento e entrare nei <b>Dettagli</b>:
        sulla parte bassa dello schermo troverai il bottone <b>Check-In</b>). Ogni evento a cui hai fatto check-in ti permette di guadagnare punti.
        Puoi verificare i tuoi punti e la posizione in classifica direttamente in basso sulla <b>Home</b>, oppure entrando nella voce <b>Il mio diario</b> del menu.
        Divertiti a vedere quanti punti e quanti badge riesci a collezionare nei 30 minuti richiesti per la ricarica di una macchina elettrica!
      </div>
      <br/>
      <h4>Incentivi e premi</h4>
      <div align="justify">
          Per questa prima edizione del gioco, non sono previsti premi: ma continua a seguirci, presto saremo in grado di proporti interessanti premi e incentivi!

          <br/> Il gioco è accessibile tramite App iPhone, tuttavia Apple non sponsorizzano in alcun modo questo gioco e non offrono premi.
      </div>
      <div id="firstSeparator"></div>
	</ion-content>
</ion-view>
