<ion-view view-title="{{'app' | translate}}" hide-nav-bar="true" class="tutorial">
	<ion-content scroll="false" ng-show="showTutorial">
		<div class="row row-center title">
			<div class="col">
				{{'app' | translate}}
			</div>
		</div>
		<ion-slides options="options" slider="data.slider">
			<ion-slide-page>
              <div class="tutorial-content">
                <div>{{'tutorial1' | translate}}</div>
				<img src="img/tutorial/t1.png" />
              </div>
			</ion-slide-page>
			<ion-slide-page>
              <div class="tutorial-content">
                <div>{{'tutorial2' | translate}}</div>
				<img src="img/tutorial/t2.png" />
              </div>
			</ion-slide-page>
			<ion-slide-page>
              <div class="tutorial-content">
                <div>{{'tutorial3' | translate}}</div>
				<img src="img/tutorial/t3.png" />
              </div>
			</ion-slide-page>
			<ion-slide-page>
              <div class="tutorial-content">
                <div>{{'tutorial4' | translate}}</div>
				<img src="img/tutorial/t4.png" />
              </div>
			</ion-slide-page>
		</ion-slides>
		<div class="row row-center tutorial-footer">
			<div class="col col-offset-25 col-50">
				<button class="button button-block button-energized" ng-click="login()">{{'login' | translate}}</button>
			</div>
		</div>
	</ion-content>
</ion-view>
